<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="/TradBam/assets/css/style.css">
  <link rel="stylesheet" href="/TradBam/assets/css/style.scss">
</head>
<body>
<header class="cd-header flex flex-column flex-center">
  <div class="text-component text-center">
    <h1>TRADITIONS BAMILEKE</h1>
    <p><a class="cd-article-link" href="../">PAGE D'ACCEUIL</a>👈</p>
  </div>
</header>


{{ content }}

<script src="/TradBam/assets/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
<script src="/TradBam/assets/js/main.js"></script> 
</body>
</html>